/* Poppins */
@import url("/css/poppins.css");

body {
  font-family: "Poppins", "Segoe UI", sans-serif;
  letter-spacing: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-ksl {
  font-family: "Monument Extended", "Segoe UI", sans-serif !important;
}

.modal-body {
  font-family: "Poppins", "Segoe UI", sans-serif;
}
