body {
  color: #fff;
}

.text-outline {
  -webkit-text-stroke-color: #fff;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
}

.wrapper {
  background-image: url("../img/bg_ksl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  min-height: 100vh;
}

footer {
  padding: 5em;
  padding-bottom: 0;
  background-color: #252525;
  color: #fff;
  width: 100%;
}
footer i {
  color: #fff;
}

footer i:hover {
  opacity: 0.7;
}

footer .teks-kecil {
  font-family: "Poppins";
  font-size: 0.8em;
}
